.filterContainer {
    margin: 20px auto 20px;
        width: 365px;
        padding: 25px;
        border-radius: 7px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
            transition: box-shadow 0.3s ease-in-out;
}

.filterContainer:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.filterTitle {
    color: aliceblue;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 15px;
}



.filterInput {
    height: 35px;
    width: 350px;
    border-radius: 10px;
    border-style: none;
    padding: 0 5px;
    color: aliceblue;
    font-size: 13px;
    background-color: transparent;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease-in-out;
    margin-bottom: 15px;
}

.filterInput:hover,
.filterInput:focus {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    border-style: none;
}