.header {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navigation {
    display: flex;
    gap: 5px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 35px;
    text-decoration: none;
    font-size: 25px;
    border-radius: 7px;
    font-weight: 500;
    color: aliceblue;
    transition: box-shadow 0.3s ease-in-out;
}

.btn:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.btn_logout {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 30px;
    font-size: 17px;
    border-radius: 7px;
    border-style: none;
    font-weight: 500;
    background-color: transparent;
    color: aliceblue;
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
    margin-left: auto;
}

.btn_logout:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}