.title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 40px;
  color: aliceblue;
  font-weight: 550;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
}

.log_in {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: flex-start;
  margin: 0 auto;
  display: flex;
  width: 300px;
  height: 220px;
  border-radius: 7px;
  transition: box-shadow 0.3s ease-in-out;
}

.log_in:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.label {
  color: aliceblue;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}

.input {
  height: 35px;
  border-radius: 10px;
  border-style: none;
  padding: 0 5px;
  color: aliceblue;
  font-size: 13px;
  background-color: transparent;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out;
  margin-bottom: 15px;
}

.input:hover,
.inpur:focus {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  border-style: none;
}

.login_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 40px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 7px;
  border-style: none;
  font-weight: 500;
  background-color: transparent;
  color: aliceblue;
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  margin: 0 auto;
}

.login_btn:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
