.contactList {
    display: flex;
        flex-direction: column;
        padding: 20px;
        justify-content: flex-start;
        margin: 0 auto;
        gap: 10px;
        margin-bottom: 20px;
        padding-left: 30px;
        display: flex;
        width: 365px;
        border-radius: 7px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
        transition: box-shadow 0.3s ease-in-out;
    }
    
    .contactList:hover {
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }


.contactListItem {
    display: flex;
    gap: 10px;
    align-items: center;
}

.contactName {
    color: aliceblue;
    font-size: 20px;
}

.number {
    color: aliceblue;
        font-size: 17px;
        display: flex;
        align-items: center;
        justify-content: center;
}

.deleteButton {
    border: none;
        width: 25px;
        height: 25px;
        border-radius: 10px;
        cursor: pointer;
        color: aliceblue;
        background-color: transparent;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        transition: box-shadow 0.3s ease-in-out;
}

.deleteButton:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.10);
}

.empty {
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    font-size: 20px;
    font-weight: 500;
    width: 415px;
    height: 35px;
    margin: 0 auto;
    border-radius: 7px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease-in-out;
}

.empty:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.10);
}

.error {
    color: aliceblue;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}